{% load static %}

<div class="flex flex-col md:flex-row justify-between items-center p-10 bg-backg-dark">
    <div class="">
        <p class="text-white">&copy; 2021 Andreas Gerasimow</p>
        <a class="text-primary-500 mr-3" href="">Impressum</a>
        <a class="text-primary-500" href="">Datenschutzerklärung</a>
    </div>
    <div class=" flex">
        <a class="my-auto mr-10" href="https://github.com/dev-andreas" target="_blank">
            <img class="w-10 m-auto" src="{% static 'images/github_light.svg' %}" alt="GitHub">
        </a>
        <a class="my-auto" href="https://www.linkedin.com/in/andreas-gerasimow-341a551b2/" target="_blank">
            <img class="w-10 m-auto" src="{% static 'images/linkedin_light.svg' %}" alt="LinkedIn">
        </a>
    </div>
</div>

<style>

    @media screen and (max-width: 768px) {
        .footer {
            flex-direction: column;
        }

        .footer .text {
            margin-bottom: 20px;
        }
    }
</style>