{% extends "base.html" %}
{% block content %}

<h1>Sign In</h1>

<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.login }}
    {{ form.password }}

    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    <button class="primaryAction" type="submit">Sign In</button>
</form>

<p>If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.
</p>

{% endblock %}