{% extends "vue/base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <img class="w-32 transition ease-out duration-500 transform hover:scale-125" src="{% static 'images/poll.svg' %}">
    <h1 class="text-6xl uppercase font-extralight mt-5">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="mt-4">The password reset link was invalid, possibly because it has already been used. Please request a <a
        class="link" href="{{ passwd_reset_url }}">new password reset</a>.</p>
    {% else %}
    <form class="flex flex-col items-center" method="POST" action="{{ action_url }}">
        {% csrf_token %}
        <div class="border-b py-2 mt-4 focus-within:border-primary-400">{{ form.password1 }}</div>
        <div class="border-b py-2 mb-4 focus-within:border-primary-400">{{ form.password2 }}</div>

        {% if form.errors %}
        <ul class="text-xs my-4">
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>
                <p class="text-red-600">{{ error }}</p>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if messages %}
        <ul class="text-xs my-4">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <input class="btn-primary" type="submit" name="action" value="Change password" />
    </form>
    {% endif %}
</div>
{% endblock %}