{% extends "vue/base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <img class="w-32 transition ease-out duration-500 transform hover:scale-125" src="{% static 'images/poll.svg' %}">
    <h1 class="text-6xl uppercase font-extralight mt-5">Password changed</h1>
    <p class="font-bold mt-4">Password successfully changed. You may log in now.</p>
    <a class="btn-primary mt-4" href="{% url 'account_login' %}">Log in</a>
</div>
{% endblock %}