{% extends "vue/base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <img class="w-32 transition ease-out duration-500 transform hover:scale-125" src="{% static 'images/poll.svg' %}">
    <h1 class="text-6xl uppercase font-extralight mt-5">Sign Up</h1>

    <form class="flex flex-col items-center" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="border-b py-2 mt-4 focus-within:border-primary-400">{{ form.username }}</div>
        <div class="border-b py-2 focus-within:border-primary-400">{{ form.email }}</div>
        <div class="border-b py-2 focus-within:border-primary-400">{{ form.password1 }}</div>
        <div class="border-b py-2 mb-4 focus-within:border-primary-400">{{ form.password2 }}</div>

        {% if form.errors %}
        <ul class="text-xs my-4">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li><p class="text-red-600">{{ error }}</p></li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        {% if messages %}
        <ul class="text-xs my-4">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="flex justify-center">
            <input class="btn-primary" type="submit" value="Sign Up &raquo;"/>
        </div>
    </form>

    <p class="mt-8 text-sm">Already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a>.</p>
</div>

{% endblock %}