{% extends "vue/base.html" %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
    <img class="w-32 transition ease-out duration-500 transform hover:scale-125" src="{% static 'images/poll.svg' %}">
    <h1 class="text-6xl uppercase font-extralight mt-5">Verify E-mail</h1>

    <p class="mt-4 font-bold">We have sent an e-mail to you for verification. Follow the link provided to finalize the
        signup process. Please contact us if you do not receive it within a few minutes.</p>

    {% if messages %}
    <ul class="text-xs my-4">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}